/* Controls */

body {
	font-family: "Segoe UI", sans-serif;
}

select {
	font-size: 150%;
}

ul.options {
	padding-left: 0;
	list-style-type: none;
}

label {
	cursor: pointer;
}

/* Map */

#map {
	width: 790px;
	padding: 5px;
	/* Positioned so that legend can be absolutely positioned. */
	position: relative;
}
svg { width: 100%; }
svg * { fill: none; }

/* Default country appearance. */
path, g {
	fill: hsl(0, 0%, 75%); 
	stroke: hsl(0, 0%, 100%);
	stroke-width: 16;
}

/* Kaliningrad and Russia proper inherit fill from containing group. */
g path {
	fill: inherit;
}

/* Highlight on mouseover set as opacity because the country's color varies depending on the context. */
.in-eurovision:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* Selected countries do not highlight on mouseover. */
svg .selected {
	opacity: 1.0 !important;
}

#legend {
	position: absolute;
	left: 0.5em;
	bottom: 0.5em;
	padding-left: 0;
	list-style-type: none;
}

#legend li {
	font-weight: bold;
	margin: 0.25em 0;
	line-height: 1em;
	border-style: solid;
	border-width: 0;
	border-left-width: 2em;
	padding-left: 0.5em;
}

.selected { border-color: hsl(120, 60%, 50%); fill: hsl(120, 60%, 50%) !important; }

.selected.non-contestant { fill: hsl(300, 100%, 25%) !important; }
.non-contestant { border-color: hsl(300, 100%, 25%); margin-bottom: 1em !important; }

.points-12 { border-color: hsl(220, 100%, 25%); fill: hsl(220, 100%, 25%) !important; }
.points-10 { border-color: hsl(220, 100%, 35%); fill: hsl(220, 100%, 35%) !important; }
.points-8 { border-color: hsl(220, 100%, 45%); fill: hsl(220, 100%, 45%) !important; }
.points-7 { border-color: hsl(220, 100%, 55%); fill: hsl(220, 100%, 55%) !important; }
.points-6 { border-color: hsl(220, 100%, 60%); fill: hsl(220, 100%, 60%) !important; }
.points-5 { border-color: hsl(220, 100%, 65%); fill: hsl(220, 100%, 65%) !important; }
.points-4 { border-color: hsl(220, 100%, 70%); fill: hsl(220, 100%, 70%) !important; }
.points-3 { border-color: hsl(220, 100%, 75%); fill: hsl(220, 100%, 75%) !important; }
.points-2 { border-color: hsl(220, 100%, 80%); fill: hsl(220, 100%, 80%) !important; }
.points-1 { border-color: hsl(220, 100%, 85%); fill: hsl(220, 100%, 85%) !important; }